.App {
  background-color: #FFF;
  box-shadow: 10px 10px rgb(86, 156, 194), -1px -1px 20px #b1b2b3;
}

.App__body {
  padding: 20px;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} */
